MYSQL_ROOT_PASSWORD=local_root_password
MYSQL_DATABASE=fee_calculator
MYSQL_USER=fee_app
MYSQL_PASSWORD=fee_app_password
MYSQL_PORT=3306
APP_PORT=8080

DB_URL=jdbc:mysql://localhost:3306/fee_calculator?serverTimezone=UTC
DB_USERNAME=fee_app
DB_PASSWORD=fee_app_password
